/* 
    Document   : index
    Created on : Dec 11, 2012, 9:23:15 PM
    Author     : C. Levallois
    Description:
        Purpose of the stylesheet follows.
*/

body {
font-family: Georgia;
background: rgba(241, 241, 241, 0.14);
background-image:url(#{resource['images:paper.png']});
margin: 0 auto;
width: 1000px;
}

#box {
margin: 100px auto 15px;
width: 900px;
background-image:url(#{resource['images:paper_.png']});
box-shadow: 0 0 13px 11px rgba(53, 53, 53, 0.44);
padding: 31px;
border-radius: 15px;
}

#appTitle {
font-size: 54px;
margin: 0 auto;
width: 246px;
margin-bottom: 36px;
font-style: italic;
text-shadow: 1px 1px 3px rgb(0, 0, 0);
color: rgb(54, 54, 54);
}
